@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    @apply m-0 p-0 box-border;
}

body,
button {
    font: 500 1rem "Inter", sans-serif;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

.container {
    @apply flex flex-col justify-center justify-items-center items-center max-w-7xl m-auto h-full;
}